h1 {
    text-align: center;
}
p {
    text-align: center;
}
hr {
  color: orangered;
}
#calculator {
  background-color: hsl(0,0%,20%);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
  max-width: 400px;
  gap: 20px;
  font-family: Arial, sans-serif;
}
#calc-buttons {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
}
#display {
  width: 100%;
  height: 120px;
  text-align: left;
  border: none;
  background-color: hsl(0,0%,30%);
  color: white;
  font-size: 3rem;
  padding: 10px;
  box-sizing: border-box;
}

.btn {
  height: 50px;
  width: 75px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: hsl(0,0%,30%);
  padding: 20px;
  border-radius: 5px;
  margin: 2.5px;
}
.fbtn {
  height: 50px;
  width: 75px;
  background-color: hsl(35,100%,55%);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  margin: 2.5px;
}
.fbtn:hover {
  background-color: hsl(35,100%,65%);
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}
.fbtn:active {
  background-color: hsl(35,100%,75%);
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}

.btn:hover {
  background-color: hsl(0,0%,40%);
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}
.btn:active {
  background-color: hsl(0,0%,50%);
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}
